<div class="ArticlePage flex flex-row bg-light-surface-1 dark:bg-dark-surface-1">
  <div id="new-side-nav" class="min-w-[15rem] max-w-[15rem] hidden md:block relative mt-nav-h"></div>

  <div class="page-wrapper default-grid">
    <div class="col-span-4 sm:col-span-6">

      <div id="new-article-breadcrumbs"></div>

      <div class="w-full max-w-[43.375rem]">
        <h1 title="{{article.title}}" class="article-title heading-2 sm:heading-1 text-light-neutral-1 dark:text-dark-neutral-1">
          {{article.title}}
        </h1>
        <div id='article-body-element' class="article-body my-5">{{article.body}}</div>
      </div>
      <div class="article-info-bottom space-y-4 sm:space-y-0 py-8 flex flex-col sm:flex-row sm:justify-between items-start sm:items-center pt-margin-mobile sm:pt-padding-x-large">
        {{#with article}}
          <div class="article-votes">
            <h2 class="article-votes-question" id="article-votes-label">{{t 'was_this_article_helpful'}}</h2>
            <div class="article-votes-controls" role="group" aria-labelledby="article-votes-label">
              {{vote 'up' class='button article-vote article-vote-up' selected_class="button-primary"}}
              <p class="article-vote-divider"> / </p>
              {{vote 'down' class='button article-vote article-vote-down' selected_class="button-primary"}}
            </div>
          </div>
        {{/with}}

        <div class="article-updated">
          <p class="article-updated-text">
            {{#is article.created_at article.edited_at}}
              {{date article.created_at timeago=true}}
            {{else}}
              {{t 'updated'}}
              {{date article.edited_at timeago=true}}
            {{/is}}
          </p>
        </div>
      </div>

      <div class="divider"></div>

      {{related_articles}} 
    </div>
    <div id="article-content-nav-container" class="hidden sm:block sm:col-span-2">
      <h2 class="subheading-2 text-light-neutral-1 dark:text-dark-neutral-1 mb-3">On this Page</h2>
      <ul class="article-content-nav" id="article-content-nav"></ul>
    </div>
  </div>
</div>

<script type="module">
  import { renderArticleBreadcrumbs } from "article-page";

  const container = document.getElementById("new-article-breadcrumbs");

  const settings = {{json settings}};


  const articlePageData = {
    article: {{json article}}
  }

  // Make sure arguments are correctly typed. 
  renderArticleBreadcrumbs(settings, articlePageData, container);
</script>

<script type="text/javascript">
// Add anchor links to article content
  const articleContentNav = document.getElementById("article-content-nav");
  const articleBody = document.getElementById("article-body-element");
  const sideNavItemElements = articleBody.querySelectorAll('h1.side-nav-item, h2.side-nav-item, h3.side-nav-item, h4.side-nav-item, p.side-nav-item');

  const hElements = articleBody.querySelectorAll('h1, h2, h3, h4');

  let articleContentNavHasItems = false;

  ((sideNavItemElements && sideNavItemElements.length > 0) ? sideNavItemElements : hElements).forEach((element) => {
    const title = element.textContent;
    const withoutSpaceTitle = title.replaceAll(/\s/g,'');

    if (withoutSpaceTitle && withoutSpaceTitle.length > 0) {
      const lowerCaseTitle = title.toLowerCase().replaceAll(/\s/g,'-');
      const id = encodeURI(lowerCaseTitle);
      element.id = id;

      const li = document.createElement("li");
      articleContentNav.appendChild(li);

      const link = document.createElement("a");
      link.setAttribute('href', `#${id}`);
      link.innerHTML = title;

      li.appendChild(link);
      articleContentNavHasItems = true;
    }
  });

  if (!articleContentNavHasItems) {
    const articleContentNavContainer = document.getElementById("article-content-nav-container");
    articleContentNavContainer.remove();
  }
</script>


<script type="module">
  import { renderSideNav, renderMobileMenuNav, sideNav } from "side-nav";

  const container = document.getElementById("new-side-nav");

  const settings = {{json settings}};

  const sideNavData = await sideNav.get();

  const article = {{json article}};
  const pathSteps = article.path_steps;
  const pathnames = pathSteps.map((path) => {
    const urlObj = new URL(path.url);
    return urlObj.pathname;
  });
  const navState = pathnames.reduce((state, pathname) => {
    if (pathname.includes('categories')) {
      const category = pathname.split('/').pop().split('-')[0];
      state.category = parseInt(category);
    } else if (pathname.includes('sections')) {
      const section = pathname.split('/').pop().split('-')[0];
      state.section = parseInt(section);
    }

    return state;
  }, {})

  // Make sure arguments are correctly typed. 
  renderSideNav(settings, sideNavData, {...navState, article: article.id}, container);

  // Add mobile nav
  const addMobileNav = (sideNavData) => {

    const container = document.getElementById("new-mobile-nav");

    const settings = {{json settings}};

    // Make sure arguments are correctly typed. 
    renderMobileMenuNav(settings, sideNavData, {...navState, article: article.id}, container);
  }

  const mobileMenuButton = document.getElementById("mobile-menu-button");
    mobileMenuButton.addEventListener("click", (e) => {
    // add setTimeout to ensure the mobile nav is added after mobile menu appears on DOM first
    setTimeout(() => addMobileNav(sideNavData), 100);
  });
</script>